@model List<GunRangeMgmtSys.Models.Invitem>

@{
    ViewData["Title"] = "Issued Inventory";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <form id="searchForm" asp-action="Index" method="get">
        <div class="form-group search-input">

            <label for="searchQuery">Search:</label>
            <div class="input-group">
                <div class="search-field">
                    <input type="text" class="form-control" id="searchQuery" name="searchQuery" placeholder="Enter name or ID">
                </div>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" onclick="openPopup()">Search</button>
                </div>
            </div>
        </div>
    </form>

    <div class="content-container">
        <!-- Your existing content for displaying inventory items -->
    </div>

    <div class="content-container2">
        <!-- Form for adding inventory items -->
        <h2>Inventory Issued</h2>
        @if (Model != null)
        {
            <table>
                <thead>
                    <tr>
                        <th>Officer ID</th>
                        <th>Issued Equipment</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var invitem in Model)
                    {
                        <tr>

                        <td>@invitem.OfficerId</td>
                        <td>@invitem.IssuedEquipment</td>


                    </tr>
                }
            </tbody>
            </table>
        }
        else
        {
            <p>No Data Available ---</p>
        }

        <form asp-controller="Inventory" asp-action="AddInvitem" method="post">
            <div class="input-container">
                <div class="input-group">
                    <label for="OfficerId">Officer ID:</label>
                    <input type="text" id="OfficerId" name="OfficerId" required>
                </div>
                <div class="input-group">
                    <label for="IssuedEquipment">Issued Equipment:</label>
                    <input type="text" id="IssuedEquipment" name="IssuedEquipment" required>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Add Issued Equipment</button>

        </form>

        <!-- Clear database form -->
        <h2>Clear Database</h2>
        <p>Click the button below to clear the entire database CSV:</p>
        <form asp-controller="Inventory" asp-action="ClearDatabase" method="post">
            <button class="btn btn-danger rounded-pill px-3" type="submit">Clear Database</button>
        </form>

        <!-- Download CSV link -->
        @Html.ActionLink("Download CSV", "DownloadCSV", "Inventory", null, new { @class = "btn btn-primary download-button" })
    </div>
</body>
</html>
